body{
    background-image: url("../img/wp11243520-nba-75th-anniversary-team-wallpapers.png" ) ;
  
   
    background-size: cover ;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
   
    align-items: center;
    justify-content:center;
    min-height: 100vh ;
}



.player{
    background-color: #002d66;
    height: 100%;
    line-height: 48px;
}
span{
    
    color: aliceblue;
    
   
}
.container{
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    width: 98%;
    
    align-items: center;
    justify-content:center;

  


}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 0 10px;
   
    margin: 10px 0 10px 5px;
    background-size: cover ;
    background-position: center;
    height:48px;
    width: 97%;
    max-width: 620px;
    margin-bottom: 5px;
 
    background-image: url('../img/topo.jpeg');
}

.grid{
   

    display: grid;
    
    min-width: 40vh;
  
    width: 90%;
    max-width: 130vh;
    
   
   gap: 0px 5px;


  

    
}
.celular{
    grid-template-columns:repeat(3, 3fr);
    padding-top: 10px;
}
.pc{
    gap: 5px;
    grid-template-columns:repeat(8, 3fr);
}
.cards{
    aspect-ratio: 3/5.2;
    
    border-radius: 5px;
    position: relative;
    
    
    transition:all 400ms;
    transform-style: preserve-3d;
    border-radius: 5px;
}
.virar{
    transform: rotateY(180deg);

}









.face{
    cursor: pointer;
    border-radius: 5px;

    width: 100%;
    height: 100%;
    position: absolute;

}
.front{
  
    background-size: cover ;
    background-position: center;
    transform: rotateY(180deg)
}
.back{
    background-image: url(../img/NBA\ 75\ Anos\ 💎.jpeg);
    background-size: cover ;
    background-position: center;
    backface-visibility: hidden;
}
.achoooo{

    transition: 400ms;
    filter: saturate(0);
    opacity: 0.8;
    cursor:not-allowed;
}